@using proje.Entity
@model IEnumerable<Urun>
    <h3>Öne Çıkarılan Ürünler</h3>
<ul class="nav nav-list promowrapper">
    @foreach (var item in Model)
    {
        <li>
            <div class="thumbnail">
                <img src="~/Content/image/@item.image" >
                <div class="caption">
                    <h4><a class="defaultBtn" href="/Home/UrunDetay/@item.id">Görüntüle</a> <span class="pull-right">@item.Fiyat ₺</span></h4>
                </div>
            </div>
        </li>
        <li style="border:0"> &nbsp;</li>
    }





</ul>