@using proje.Entity
@model IEnumerable<Urun>
<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_KategoriList", "Kategori")
                <li style="border:0"> &nbsp;</li>
            </ul>
        </div>

      
        @Html.Action("_FeaturedUrunList","Home")
        <br>
        <br>
   

    </div>
    <div class="span9">
        <!--
        New Products
        -->
        
            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bizim ürünlerimiz</font></font></h3>
            
                <ul class="thumbnails">
                    @foreach (var item in Model)
                    {
                        <li class="span3">
                            <div class="thumbnail">
      >
                                <a href="/Home/UrunDetay/@item.id"><img src="~/Content/image/@item.image" style="max-width:207px;max-height:267px; min-width:207px;min-height:267px;" alt=""></a>
                                <div class="caption cntr">
                                    <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.İsim</font></font></p>
                                    <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Fiyat</font></font></strong></p>
                                    <h4><a class="shopBtn" href="/Home/UrunDetay/@item.id" title="Sepete ekle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Görüntüle</font></font></a></h4>
                                   
                                    <br class="clr">
                                </div>
                            </div>
                        </li>
                    }


                </ul>
         
    </div>
</div>